@font-face {
  font-family: Fira-Sans;
  src: url('../assets/fonts/FiraSans-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: Fira-Sans Medium;
  src: url('../assets/fonts/FiraSans-Medium.ttf');
  font-weight: 600;
}

@font-face {
  font-family: Sacramento;
  src: url('../assets/fonts/Sacramento-Regular.ttf');
  font-weight: 500;
}

html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 10px;
  font-family: Fira-Sans, sans-serif;;
}

a {
  color: inherit;
  text-decoration: none;
}

*, *:before, *:after {
  box-sizing: border-box;
}
